{:total-bytes 1283546
 :total-loc 49593
 :files 25
 :modules {"_wireup" {:bytes 4585 :loc 90 :files 3}
           "edn" {:bytes 774 :loc 30 :files 1}
           "hash" {:bytes 1826 :loc 62 :files 1}
           "io" {:bytes 1069 :loc 39 :files 1}
           "ir_build" {:bytes 322345 :loc 11968 :files 1}
           "ir_data_generated" {:bytes 33347 :loc 922 :files 1}
           "ir_dominance" {:bytes 23479 :loc 986 :files 1}
           "ir_dump" {:bytes 54076 :loc 1933 :files 1}
           "ir_lower" {:bytes 109950 :loc 4438 :files 1}
           "ir_lower_go" {:bytes 321768 :loc 13510 :files 1}
           "ir_passes" {:bytes 2454 :loc 67 :files 1}
           "ir_passes_constfold" {:bytes 18681 :loc 914 :files 1}
           "ir_passes_cse" {:bytes 8275 :loc 313 :files 1}
           "ir_passes_dce" {:bytes 7161 :loc 277 :files 1}
           "ir_passes_infer_arg_types" {:bytes 7424 :loc 339 :files 1}
           "ir_passes_licm" {:bytes 70743 :loc 2410 :files 1}
           "ir_passes_mutability" {:bytes 11699 :loc 465 :files 1}
           "ir_passes_pipeline" {:bytes 97217 :loc 3220 :files 1}
           "ir_passes_trace" {:bytes 23302 :loc 682 :files 1}
           "ir_passes_typeinfer" {:bytes 106481 :loc 4861 :files 1}
           "ir_validate" {:bytes 34102 :loc 1267 :files 1}
           "test" {:bytes 3026 :loc 80 :files 1}
           "walk" {:bytes 19762 :loc 720 :files 1}}}
