{:files 28
 :modules {"_wireup" {:bytes 5152, :files 3, :loc 99}
           "edn" {:bytes 6652, :files 1, :loc 203}
           "hash" {:bytes 3768, :files 1, :loc 114}
           "io" {:bytes 1266, :files 1, :loc 43}
           "ir_build" {:bytes 429226, :files 1, :loc 12590}
           "ir_data_generated" {:bytes 35966, :files 1, :loc 928}
           "ir_dominance" {:bytes 25246, :files 1, :loc 914}
           "ir_dump" {:bytes 54391, :files 1, :loc 1591}
           "ir_lattice" {:bytes 125636, :files 1, :loc 3808}
           "ir_lower" {:bytes 127116, :files 1, :loc 4084}
           "ir_lower_go" {:bytes 754926, :files 1, :loc 23758}
           "ir_passes" {:bytes 2875, :files 1, :loc 73}
           "ir_passes_constfold" {:bytes 28936, :files 1, :loc 888}
           "ir_passes_cse" {:bytes 9105, :files 1, :loc 268}
           "ir_passes_dce" {:bytes 7828, :files 1, :loc 243}
           "ir_passes_infer_arg_types" {:bytes 5513, :files 1, :loc 231}
           "ir_passes_licm" {:bytes 103245, :files 1, :loc 2772}
           "ir_passes_mutability" {:bytes 12370, :files 1, :loc 423}
           "ir_passes_pipeline" {:bytes 266100, :files 1, :loc 7549}
           "ir_passes_trace" {:bytes 25111, :files 1, :loc 689}
           "ir_passes_typeinfer" {:bytes 121187, :files 1, :loc 3420}
           "ir_structurize" {:bytes 56299, :files 1, :loc 1858}
           "ir_validate" {:bytes 36752, :files 1, :loc 998}
           "pprint" {:bytes 57108, :files 1, :loc 1494}
           "test" {:bytes 28196, :files 1, :loc 694}
           "walk" {:bytes 23522, :files 1, :loc 681}}
 :source-bytes 535678
 :total-bytes 2353492
 :total-loc 70413}
